<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Django Project</title>

    </head>

    <body>
        <!--<iframe width="350" heaight="430" src="https://console.dialogflow.com/api-client/demo/embedded/e1b9bbf8-c1d0-4197-915c-6a6512701b5f"></iframe>-->
        <h1>Hello Human !</h1>
        <hr>
        {% if query %}
            <br><b>Query:</b> {{query}} <br><br>
            <br><b>Answer:</b> {{ans}} <br><br>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            <br><b>Please state your human query:</b> <input type="text" size="100" name="query" required><br><br>
            <input type="Submit">

        </form>

    </body>

</html>